APP_NAME="Medians Chat"
APP_ENV=production
APP_DEBUG=false
APP_LOCALE=en
APP_URL=http://localhost:8000
APP_KEY=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=false

CACHE_STORE=database

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=medians_chat
DB_USERNAME=root
DB_PASSWORD=

MEDIANS_INSTALLED=false
