/.phpunit.cache
/node_modules
/public/videos
/public/uploads
/public/storage
/public/recordings
/storage/*.key
/vendor
/storage/app/public
/storage/app/emails
/storage/app/temp_modules
/storage/framework/testing
/public/docs
/New folder


.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
composer.lock
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
