/* =================================================================== */
/* MULTI COLORS
====================================================================== */
:root {
    --theme-color-rgb: 77, 150, 255;
    --theme-color: rgb(77, 150, 255);
    --theme-secondary-color: rgb(77, 150, 255);
}
